---
import App from "../App";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Química Industrial - Home</title>
		<meta
			name="description"
			content="Venta de Productos Químicos en el Perú"
		/>
	</head>
	<body>
		<App client:only />
	</body>
</html>
